<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetocapacitacao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoCapacitacao"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".view.ReceiptDetailsActivity"
            android:exported="false"
            android:parentActivityName=".view.ReceiptsActivity" />
        <activity
            android:name=".view.ReceiptsActivity"
            android:exported="false"
            android:parentActivityName=".view.HomeActivity">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".view.NewReceiptActivity"
            android:exported="false"
            android:parentActivityName=".view.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.NewAccountActivity"
            android:exported="false"
            android:parentActivityName=".view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


    </application>

</manifest>